.btn {
  font-size: 16px;
  background: $ell;
  color: $black;
  border: none;
  display: flex;
  height: 52px;
  padding: 0 30px;
  border-radius: 5px;
  font-size: 21px;
  font-weight: 500;
  outline: none;
  align-items: center;
  text-decoration: none !important;
   a {
     display: block;
     color: $black;
     text-decoration: none !important;
     outline: none;
     &:hover {
       text-decoration: none !important;
     }
   }
}
