.cart {
  &__wrap {
    position: relative;

  }
  &__logo {
    position: absolute;
    top: $sp;
    right: $sp;
    width: 40px;
    height: 25px;
    background: url("../assets/master.svg") no-repeat;
    background-size: contain;
  }
  &__form {
    padding: $sp*2;
    padding-top: 60px;

  }
  &__line {
    margin-bottom: 40px;
    &-short {
      max-width: 150px;
    }
  }
  &__eye {
    position: absolute;
    top: 170px;
    left: 195px;
    cursor: pointer;
    i {
      font-size: 20px;
      margin-right: $sp/2;
    }
  }
  &__tool {
    &-btn {
      cursor: pointer;
      position: absolute;
      top: 146px;
      left: 61px;
      height: 16px;
      width: 17px;
      color: $gray;
    }
  }
}
