.preloader {
  width: 150px;
  height: 150px;

  &__wrap {
    position: fixed;
    background: rgba(black, 0.8);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: vizible 0.3s;
  }
}

.sk-spinner-pulse {
  width: 150px;
  height: 150px;
  margin: auto;
  background-color: $ell;
  border-radius: 100%;
  animation: sk-spinner-pulse 1.0s infinite ease-in-out;
}

@keyframes vizible {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@keyframes sk-spinner-pulse {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1.0);
    opacity: 0;
  }
}
